@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   -o-border-radius: $radius;
   border-radius: $radius;
}

@mixin rotate($angle) {
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin user-select($selection) {
  -webkit-user-select: $selection;
  -ms-user-select: $selection;
  -moz-user-select: $selection;
  -o-user-select: $selection;
  user-select: $selection;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$chip_red: rgb(193, 12, 14);

$chip_redder: rgb(167, 10, 12);

$light_grey: rgb(245, 245, 245);

$black_shadow: rgba(0, 0, 0, 0.4);
