@import 'rules';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
  // overflow-y: hidden;
}

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
  // color: $dark;
  // background-color: $dark;
}

body {
  // font-family: 'Playfair Display', serif;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.chip {
  background: $chip_redder;
  height: 100vh;
  width: 100vh;
  @include border-radius(50%);
  position: relative;
  left: 50%;
  overflow: hidden;
}

.stripe {
  width: 8%;
  height: 100%;
  background-color: $light_grey;
  position: absolute;
  left: 50%;
  margin-left: -4%;
}

.thirty_degrees {
  @include rotate(30deg);
}

.sixty_degrees {
  @include rotate(60deg);
}

.ninety_degrees {
  @include rotate(90deg);
}

.onetwenty_degrees {
  @include rotate(120deg);
}

.onefifty_degrees {
  @include rotate(150deg);
}

.outer_shadow {
  position: absolute;
  top: 1%;
  left: .5%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 0%, transparent 50%, $black_shadow 50%);
  @include border-radius(50%);
}

.outer_circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_red 50%);
  @include border-radius(50%);
}

.cube {
  position: absolute;
  background-color: rgb(245, 245, 245);
  width: 15%;
  height: 15%;
  @include border-radius(10%);
  border: $redder solid .1%;
}

.thirty {
  @include rotate(30deg);
  left: 100% * 2 / 3;
  bottom: 100% * 5 / 6;
  margin-left: 0;
  margin-bottom: 1%;
}

.ninety {
  right: 0;
  top: 100% * 1 / 2;
  margin-top: -7.5%;
  margin-right: -5.75%;
}

.onefifty {
  @include rotate(150deg);
  left: 100% * 2 / 3;
  bottom: 100% * 0;
  margin-bottom: 1%;
}

.twoten {
  @include rotate(210deg);
  left: 100% * 1 / 3;
  bottom: 100% * 0;
  margin-bottom: 1%;
  margin-left: -15%;
}

.twoseventy {
  left: 0;
  top: 100% * 1 / 2;
  margin-top: -7.5%;
  margin-left: -5.75%;
}

.threethirty {
  @include rotate(330deg);
  right: 100% * 2 / 3;
  bottom: 100% * 5 / 6;
  margin-right: 0;
  margin-bottom: 1%;
}

.dot {
  position: absolute;
  @include border-radius(50%);
  height: 5%;
  width: 5%;
  background-color: rgb(245, 245, 245);
  border: $redder solid .1%;
}

.zero {
  margin-top: 4%;
  left: 50%;
  margin-left: -2.5%;
}

.sixty {
  left: 100% * 5 / 6;
  margin-left: 2%;
  margin-top: .75%;
  top: 100% * 1 / 4;
}

.onetwenty {
  left: 100% * 5 / 6;
  margin-left: 2%;
  margin-bottom: .75%;
  bottom: 100% * 1 / 4;
}

.oneeighty {
  margin-bottom: 4%;
  bottom: 0;
  left: 50%;
  margin-left: -2.5%;
}

.twofourty {
  right: 100% * 5 / 6;
  margin-right: 2%;
  margin-bottom: .75%;
  bottom: 100% * 1 / 4;
}

.three {
  right: 100% * 5 / 6;
  margin-right: 2%;
  margin-top: .75%;
  top: 100% * 1 / 4;
}

.inner_shadow {
  position: absolute;
  background: $black_shadow;
  height: 67.5%;
  width: 67.5%;
  top: ((100% - 67.5%) / 2) + 1%;
  left: ((100% - 67.5%) / 2) + .5%;
  @include border-radius(50%);
}

.inner_circle {
  position: absolute;
  background: $chip_red;
  height: 67.5%;
  width: 67.5%;
  top: (100% - 67.5%) / 2;
  left: (100% - 67.5%) / 2;
  @include border-radius(50%);
}

// .a {
//   position: absolute;
//   background-color: green;
//   width: 15%;
//   height: 100%;
//   left: 50%;
//   margin-left: -7.5%;
// }
//
// .one {
//   @include rotate(30deg);
// }
//
//
// .two {
//   @include rotate(90deg);
// }
//
//
// .four {
//   @include rotate(150deg);
// }
//
// .circle {
//   position: absolute;
//   @include border-radius(50%);
//   height: 82.5%;
//   width: 82.5%;
//   border: .5% black solid;
//   top: 8.75%;
//   left: 8.75%;
// }
