<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" media="(max-width: 1150px) and (min-aspect-ratio: 1/1)" type="text/css" href="portfolio_landscape.css"> -->
    <!-- <link rel="stylesheet" media="(max-width: 1000px)" type="text/css" href="portfolio_mobile.css"> -->
    <!-- <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" type="text/css" href="portfolio_portrait.css"> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="directives.js"></script>
    <script src="controllers.js"></script>
    <script src="filters.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Cinzel:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="Blackjack">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <script>
      $(document)
        .ready(function() {
        });
    </script>
    <div id="welcome" class="center" ng-controller="WelcomePage">
      <div class="chip red_welcome" id="title_background">
        <div class="stripes">
          <div class="stripe light_grey zero_degrees"></div>
          <div class="stripe light_grey thirty_degrees"></div>
          <div class="stripe light_grey sixty_degrees"></div>
          <div class="stripe light_grey ninety_degrees"></div>
          <div class="stripe light_grey onetwenty_degrees"></div>
          <div class="stripe light_grey onefifty_degrees"></div>
        </div>
        <div class="outer_shadow">
        </div>
        <div class="outer_circle red_outer">
          <div>
            <div class="cube light_grey red_outline thirty"></div>
            <div class="cube light_grey red_outline ninety"></div>
            <div class="cube light_grey red_outline onefifty"></div>
            <div class="cube light_grey red_outline twoten"></div>
            <div class="cube light_grey red_outline twoseventy"></div>
            <div class="cube light_grey red_outline threethirty"></div>
          </div>
          <div>
            <div class="dot light_grey red_outline zero"></div>
            <div class="dot light_grey red_outline sixty"></div>
            <div class="dot light_grey red_outline onetwenty"></div>
            <div class="dot light_grey red_outline oneeighty"></div>
            <div class="dot light_grey red_outline twofourty"></div>
            <div class="dot light_grey red_outline three"></div>
          </div>
        </div>
        <div class="inner_shadow">
        </div>
        <div class="inner_circle red_inner" id="provatre">
          <div class="title">
            <h3 ng-bind-html="intro | to_trusted"></h3>
            <h1 ng-bind-html="title | to_trusted"></h1>
            <p ng-bind-html="paragraph | to_trusted"></p>
            <button ng-click="goToApp()">PLAY!</button>
          </div>
        </div>
      </div>
    </div>
    <div id="table" class="center">
      <div class="wrapper">
        <div id="table_dealer_area_border" class="table_dealer_area"></div>
        <div id="table_dealer_area_inner" class="table_dealer_area"></div>
        <div id="table_border" class="table_shape">
          <div class="glass_container" id="glass_zero"><div class="glass"></div></div>
          <div class="glass_container" id="glass_one"><div class="glass"></div></div>
          <div class="glass_container" id="glass_two"><div class="glass"></div></div>
          <div class="glass_container" id="glass_three"><div class="glass"></div></div>
          <div class="glass_container" id="glass_four"><div class="glass"></div></div>
        </div>
        <div id="table_inner" class="table_shape">
          <div id="table_title" class="title" ng-controller="Table">
            <h3 ng-bind-html="name | to_trusted"></h3>
            <h1 ng-bind-html="title | to_trusted"></h1>
            <h3 ng-bind-html="blackjack | to_trusted"></h3>
            <h3><span ng-bind-html="insurance | to_trusted"></span></h3>
          </div>
        </div>
        <div id="cards_area">
          <div id="cards_lower" class="cards_area"></div>
          <div id="cards_upper" class="cards_area"></div>
          <div id="cards_left" class="cards_area_close"></div>
          <div id="cards_right" class="cards_area_close"></div>
        </div>
        <div id="bets_area">
          <div class="bet" id="bet_zero"></div>
          <div class="bet" id="bet_one"></div>
          <div class="bet" id="bet_two"></div>
          <div class="bet" id="bet_three"></div>
          <div class="bet" id="bet_four"></div>
        </div>
      </div>
      <div class="interface">
        <div id="dealer" class="cards" ng-controller="Dealer">
          <div class="card" ng-repeat="card in cards"><img ng-src="{{ card.image }}" /></div>
          <div class="total"><span>Dealer:</span> {{ user.total }}</div>
        </div>
        <div id="player" class="cards" ng-controller="Player">
          <div class="card" ng-repeat="card in cards"><img ng-src="{{ card.image }}" /></div>
          <div class="total"><span>Player:</span> {{ user.total }}</div>
        </div>
        <div id="communications" ng-controller="Communications">
          <span>{{ data.communications }}</span>
        </div>
        <div id="actions" ng-controller="Actions">
          <form name="player_bet">
            <button ng-repeat="button in buttons" ng-click="actions(button.name)" ng-disabled="button.status || player_bet.$invalid || (money.reserve - money.bet < 0)" id="{{ button.id }}">
              <div class="chip" ng-class="button.baseColour">
                <div class="stripes">
                  <div class="stripe light_grey zero_degrees"></div>
                  <div class="stripe light_grey thirty_degrees"></div>
                  <div class="stripe light_grey sixty_degrees"></div>
                  <div class="stripe light_grey ninety_degrees"></div>
                  <div class="stripe light_grey onetwenty_degrees"></div>
                  <div class="stripe light_grey onefifty_degrees"></div>
                </div>
                <div class="outer_shadow">
                </div>
                <div class="outer_circle" ng-class="button.radiantColour">
                  <div>
                    <div class="cube light_grey thirty"></div>
                    <div class="cube light_grey ninety"></div>
                    <div class="cube light_grey onefifty"></div>
                    <div class="cube light_grey twoten"></div>
                    <div class="cube light_grey twoseventy"></div>
                    <div class="cube light_grey threethirty"></div>
                  </div>
                  <div>
                    <div class="dot light_grey zero"></div>
                    <div class="dot light_grey sixty"></div>
                    <div class="dot light_grey onetwenty"></div>
                    <div class="dot light_grey oneeighty"></div>
                    <div class="dot light_grey twofourty"></div>
                    <div class="dot light_grey three"></div>
                  </div>
                </div>
                <div class="inner_shadow">
                </div>
                <div class="inner_circle" ng-class="button.mainColour">
                  <span>{{ button.name }}</span>
                </div>
              </div>
            </button>
            <span>COMING SOON!</span>
            <div id="bet">
              <span>YOUR BET:<br />
              </span>
              <span>&#163;</span><input id="bet_value" type="text" name="bet" ng-model="money.bet" ng-pattern="money.limits" required ng-disabled="money.disable" ng-change="emptyReserve()">
            </div>
            <div id="reserve">
              <span>RESERVE: </span>
              <span>&#163;{{ money.reserve - money.bet }}</span>
              <span>Not enough money!</span>
            </div>
            <div role="alert" id="bet_errors">
              <span class="error" ng-show="player_bet.bet.$error.required || player_bet.bet.$error.pattern">
                Min bet &#163;5, max bet &#163;100, no decimals</span>
            </div>
          </form>
        </div>
      </div>
      <div id="game_lost">
        <div>Thank you for playing Super Awesome Blackjack!<br />
          You have no more funds:<br />
          Please reload the page to continue.
        </div>
      </div>
    </div>
  </body>
</html>
