<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" media="(max-width: 1150px) and (min-aspect-ratio: 1/1)" type="text/css" href="portfolio_landscape.css"> -->
    <!-- <link rel="stylesheet" media="(max-width: 1000px)" type="text/css" href="portfolio_mobile.css"> -->
    <!-- <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" type="text/css" href="portfolio_portrait.css"> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="directives.js"></script>
    <script src="controllers.js"></script>
    <script src="filters.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Cinzel:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="Blackjack">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <script>
      $(document)
        .ready(function() {
        });
    </script>
    <!-- <welcome ng-controller="WelcomeCtrl"></welcome> -->
    <div id="table">
      <div id="dealer" class="cards" ng-controller="Dealer">
        <div class="card" ng-repeat="card in cards">{{ card.name }}</div>
        <div class="total">{{ user.total }}</div>
      </div>
      <div id="player" class="cards" ng-controller="Player">
        <div class="card" ng-repeat="card in cards">{{ card.name }}</div>
        <div class="total">{{ user.total }}</div>
      </div>
      <div id="actions" ng-controller="Actions">
        <button ng-repeat="button in buttons" ng-click="actions(button.name)" ng-disabled="button.status">{{ button.name }}</button>
      </div>
      <div id="communications" ng-controller="Communications">
        <span>{{ data.communications }}</span>
      </div>
    </div>
  </body>
</html>
