.chip {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.stripes {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute; }

.stripe {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -4%; }

.thirty_degrees {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg); }

.sixty_degrees {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg); }

.ninety_degrees {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.onetwenty_degrees {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

.onefifty_degrees {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg); }

.outer_shadow {
  position: absolute;
  top: 1%;
  left: .5%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.4) 50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.outer_circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.cube {
  position: absolute;
  background-color: whitesmoke;
  width: 15%;
  height: 15%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%; }

.thirty {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  left: 66.66667%;
  bottom: 83.33333%;
  margin-left: 0;
  margin-bottom: 1%; }

.ninety {
  right: 0;
  top: 50%;
  margin-top: -7.5%;
  margin-right: -5.75%; }

.onefifty {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  left: 66.66667%;
  bottom: 0%;
  margin-bottom: 1%; }

.twoten {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
  left: 33.33333%;
  bottom: 0%;
  margin-bottom: 1%;
  margin-left: -15%; }

.twoseventy {
  left: 0;
  top: 50%;
  margin-top: -7.5%;
  margin-left: -5.75%; }

.threethirty {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
  right: 66.66667%;
  bottom: 83.33333%;
  margin-right: 0;
  margin-bottom: 1%; }

.dot {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 5%;
  width: 5%;
  background-color: whitesmoke; }

.zero {
  margin-top: 4%;
  left: 50%;
  margin-left: -2.5%; }

.sixty {
  left: 83.33333%;
  margin-left: 2%;
  margin-top: .75%;
  top: 25%; }

.onetwenty {
  left: 83.33333%;
  margin-left: 2%;
  margin-bottom: .75%;
  bottom: 25%; }

.oneeighty {
  margin-bottom: 4%;
  bottom: 0;
  left: 50%;
  margin-left: -2.5%; }

.twofourty {
  right: 83.33333%;
  margin-right: 2%;
  margin-bottom: .75%;
  bottom: 25%; }

.three {
  right: 83.33333%;
  margin-right: 2%;
  margin-top: .75%;
  top: 25%; }

.inner_shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 67.5%;
  width: 67.5%;
  top: 17.25%;
  left: 16.75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.inner_circle {
  position: absolute;
  height: 67.5%;
  width: 67.5%;
  top: 16.25%;
  left: 16.25%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.table_dealer_area {
  position: absolute;
  top: 0;
  left: 50%;
  height: 12vh; }

#table_dealer_area_border {
  width: 220vh;
  background-color: #663300;
  margin-left: -110vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b; }

#table_dealer_area_inner {
  width: 182.6vh;
  background-color: #256339;
  margin-left: -91.3vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b; }

.table_shape {
  position: absolute; }

#table_border {
  left: 50%;
  margin-left: -110vh;
  height: 110vh;
  width: 220vh;
  -webkit-border-radius: 0 0 220vh 220vh;
  -moz-border-radius: 0 0 220vh 220vh;
  -ms-border-radius: 0 0 220vh 220vh;
  -o-border-radius: 0 0 220vh 220vh;
  border-radius: 0 0 220vh 220vh;
  background-color: #663300;
  top: 11vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b;
  border-bottom: 0.913vh solid #25150b; }

#table_inner {
  left: 50%;
  margin-left: -91.3vh;
  height: 91.3vh;
  width: 182.6vh;
  -webkit-border-radius: 0 0 182.6vh 182.6vh;
  -moz-border-radius: 0 0 182.6vh 182.6vh;
  -ms-border-radius: 0 0 182.6vh 182.6vh;
  -o-border-radius: 0 0 182.6vh 182.6vh;
  border-radius: 0 0 182.6vh 182.6vh;
  background-color: #256339;
  border-bottom: 0.913vh solid #25150b;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b;
  top: 11vh; }

.glass_container {
  width: 45.65vh;
  height: 45.65vh;
  position: absolute;
  left: 50%;
  transform-origin: 100% 100%;
  margin-left: -45.65vh;
  top: -45.65vh; }

#glass_zero {
  -ms-transform: rotate(175.2deg) skew(54deg);
  -webkit-transform: rotate(175.2deg) skew(54deg);
  -moz-transform: rotate(175.2deg) skew(54deg);
  -o-transform: rotate(175.2deg) skew(54deg);
  transform: rotate(175.2deg) skew(54deg); }

#glass_one {
  -ms-transform: rotate(211.2deg) skew(54deg);
  -webkit-transform: rotate(211.2deg) skew(54deg);
  -moz-transform: rotate(211.2deg) skew(54deg);
  -o-transform: rotate(211.2deg) skew(54deg);
  transform: rotate(211.2deg) skew(54deg); }

#glass_two {
  -ms-transform: rotate(247.2deg) skew(54deg);
  -webkit-transform: rotate(247.2deg) skew(54deg);
  -moz-transform: rotate(247.2deg) skew(54deg);
  -o-transform: rotate(247.2deg) skew(54deg);
  transform: rotate(247.2deg) skew(54deg); }

#glass_three {
  -ms-transform: rotate(283.2deg) skew(54deg);
  -webkit-transform: rotate(283.2deg) skew(54deg);
  -moz-transform: rotate(283.2deg) skew(54deg);
  -o-transform: rotate(283.2deg) skew(54deg);
  transform: rotate(283.2deg) skew(54deg); }

#glass_four {
  -ms-transform: rotate(319.2deg) skew(54deg);
  -webkit-transform: rotate(319.2deg) skew(54deg);
  -moz-transform: rotate(319.2deg) skew(54deg);
  -o-transform: rotate(319.2deg) skew(54deg);
  transform: rotate(319.2deg) skew(54deg); }

.glass {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-transform: skew(-54deg);
  -webkit-transform: skew(-54deg);
  -moz-transform: skew(-54deg);
  -o-transform: skew(-54deg);
  transform: skew(-54deg);
  width: 13.2vh;
  height: 13.2vh;
  background-color: #25150b;
  border: 1.056vh solid #d4af37; }

.cards_area {
  position: absolute;
  border-bottom: 0.495vh solid white;
  border-left: 0.495vh solid white;
  border-right: 0.495vh solid white;
  top: 5.5vh; }

#cards_lower {
  left: 50%;
  margin-left: -49.5vh;
  height: 49.5vh;
  width: 99vh;
  -webkit-border-radius: 0 0 99vh 99vh;
  -moz-border-radius: 0 0 99vh 99vh;
  -ms-border-radius: 0 0 99vh 99vh;
  -o-border-radius: 0 0 99vh 99vh;
  border-radius: 0 0 99vh 99vh; }

#cards_upper {
  left: 50%;
  margin-left: -39.6vh;
  height: 39.6vh;
  width: 79.2vh;
  -webkit-border-radius: 0 0 79.2vh 79.2vh;
  -moz-border-radius: 0 0 79.2vh 79.2vh;
  -ms-border-radius: 0 0 79.2vh 79.2vh;
  -o-border-radius: 0 0 79.2vh 79.2vh;
  border-radius: 0 0 79.2vh 79.2vh; }

.cards_area_close {
  position: absolute;
  top: 0.44vh;
  height: 5.5vh;
  width: 9.9vh;
  border-bottom: 0.495vh solid white; }

#cards_left {
  left: 50%;
  margin-left: -49.5vh; }

#cards_right {
  right: 50%;
  margin-right: -49.5vh; }

#bet_zero {
  -ms-transform: rotate(-69deg);
  -webkit-transform: rotate(-69deg);
  -moz-transform: rotate(-69deg);
  -o-transform: rotate(-69deg);
  transform: rotate(-69deg);
  right: 50%;
  margin-right: -65.296vh;
  margin-top: 13.904vh; }

#bet_one {
  -ms-transform: rotate(-34.3deg);
  -webkit-transform: rotate(-34.3deg);
  -moz-transform: rotate(-34.3deg);
  -o-transform: rotate(-34.3deg);
  transform: rotate(-34.3deg);
  right: 50%;
  margin-right: -41.8528vh;
  margin-top: 43.56vh; }

#bet_two {
  left: 50%;
  margin-left: -6.16vh;
  margin-top: 54.45vh; }

#bet_three {
  -ms-transform: rotate(34.3deg);
  -webkit-transform: rotate(34.3deg);
  -moz-transform: rotate(34.3deg);
  -o-transform: rotate(34.3deg);
  transform: rotate(34.3deg);
  left: 50%;
  margin-left: -41.8528vh;
  margin-top: 43.472vh; }

#bet_four {
  -ms-transform: rotate(69.2deg);
  -webkit-transform: rotate(69.2deg);
  -moz-transform: rotate(69.2deg);
  -o-transform: rotate(69.2deg);
  transform: rotate(69.2deg);
  left: 50%;
  margin-left: -65.296vh;
  margin-top: 13.728vh; }

.bet {
  position: absolute;
  top: 5.5vh;
  width: 12.32vh;
  height: 17.6vh;
  border: .5vh solid white;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%; }

.title {
  color: red;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  overflow-x: hidden;
  overflow-y: hidden; }

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block; }

body {
  background-color: #5a0000; }

.clear {
  display: block; }

.clear::after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden; }

a {
  text-decoration: none;
  color: inherit; }

.center {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }

#welcome {
  background-color: #256339; }

#title_background {
  height: 130vh;
  width: 130vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  box-shadow: 1vh 1vh rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  margin-left: -65vh; }

.red_welcome {
  background: #a70a0c; }

.light_grey {
  background-color: whitesmoke; }

.red_outline {
  border: #a70a0c solid 0.1%; }

.red_outer {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #c10c0e 50%); }

.red_inner {
  background: #c10c0e; }

.title {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.title > h3 {
  font-size: 4vh;
  line-height: 4vh;
  font-weight: 500;
  margin-top: 8vh;
  margin-bottom: 4vh;
  color: rgba(255, 223, 0, 0.5); }

.title > h3 span {
  font-size: 4.5vh;
  font-weight: 600;
  color: #d4af37; }

.title > h1 {
  font-size: 7vh;
  line-height: 8vh;
  font-weight: 700;
  margin-top: 8vh;
  text-shadow: 0.3vh 0.5vh rgba(0, 0, 0, 0.4); }

.title > h1 > span:nth-child(1) {
  color: whitesmoke; }

.title > h1 > span:nth-child(2) {
  color: #d4af37; }

.title > h1 > span:nth-child(4) {
  font-size: 10vh;
  line-height: 10vh; }

.title > h1 > span:nth-child(4) span:nth-child(odd) {
  color: whitesmoke; }

.title > h1 > span:nth-child(4) span:nth-child(even) {
  color: #d4af37; }

.title > p {
  font-size: 3vh;
  line-height: 4vh;
  font-weight: 400;
  margin-top: 8vh;
  color: white; }

.title > button {
  font-size: 5vh;
  font-weight: 600;
  line-height: 3vh;
  margin-top: 3vh;
  color: #996515;
  background-color: #d4af37;
  height: 20vh;
  width: 20vh;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1vh solid #996515;
  cursor: pointer;
  transition: .2s linear; }

.title > button:hover {
  margin-top: 1.5vh;
  height: 23vh;
  width: 23vh;
  font-size: 5.75vh;
  box-shadow: 0.5vh 1vh rgba(0, 0, 0, 0.4); }

#table {
  display: none;
  background-color: #5a0000; }

.wrapper {
  position: relative;
  width: 50vh;
  height: 50vh;
  margin: 0 auto; }

#table_title > * {
  margin: 0 auto; }

#table_title > h3:nth-child(1) {
  margin-top: -6vh; }

#table_title > h3:nth-child(1) span {
  font-size: 3vh;
  line-height: 3vh; }

#table_title > h1 span {
  font-size: 6vh;
  line-height: 0; }

#table_title > h1 > span > span {
  font-size: 8vh;
  line-height: 0; }

#table_title > h3:nth-child(3) > span {
  font-size: 2vh;
  color: white; }

#table_title > h3:nth-child(4) {
  position: relative;
  transform: rotate(90deg);
  transform-origin: center top;
  margin: -20vh auto; }

#table_title > h3:nth-child(4) > span > span {
  position: absolute;
  left: 50%;
  margin-left: -2.5vh;
  font-size: 4vh;
  transform-origin: center -4vh;
  width: 0.9vh;
  height: 45vh;
  line-height: 80vh;
  text-align: center;
  top: 3.8vh; }

.char0 {
  transform: rotate(0deg); }

.char1 {
  transform: rotate(-5.6deg); }

.char2 {
  transform: rotate(-11.2deg); }

.char3 {
  transform: rotate(-16.8deg); }

.char4 {
  transform: rotate(-22.4deg); }

.char5 {
  transform: rotate(-28deg); }

.char6 {
  transform: rotate(-33.6deg); }

.char7 {
  transform: rotate(-39.2deg); }

.char8 {
  transform: rotate(-44.8deg); }

.char9 {
  transform: rotate(-50.4deg); }

.char10 {
  transform: rotate(-56deg); }

.char11 {
  transform: rotate(-61.6deg); }

.char12 {
  transform: rotate(-67.2deg); }

.char13 {
  transform: rotate(-72.8deg); }

.char14 {
  transform: rotate(-78.4deg); }

.char15 {
  transform: rotate(-84deg); }

.char16 {
  transform: rotate(-89.6deg); }

.char17 {
  transform: rotate(-95.2deg); }

.char18 {
  transform: rotate(-100.8deg); }

.char19 {
  transform: rotate(-106.4deg); }

.char20 {
  transform: rotate(-112deg); }

.char21 {
  transform: rotate(-117.6deg); }

.char22 {
  transform: rotate(-123.2deg); }

.char23 {
  transform: rotate(-128.8deg); }

.char24 {
  transform: rotate(-134.4deg); }

.char25 {
  transform: rotate(-140deg); }

.char26 {
  transform: rotate(-145.6deg); }

.char27 {
  transform: rotate(-151.2deg); }

.char28 {
  transform: rotate(-156.8deg); }

.char29 {
  transform: rotate(-162.4deg); }

.char30 {
  transform: rotate(-168deg); }

.char31 {
  transform: rotate(-173.6deg); }

.char32 {
  transform: rotate(-179.2deg); }

.interface {
  top: 0;
  left: 0; }

.cards {
  height: 30vh;
  width: 60vh;
  position: absolute;
  left: 50%;
  display: inline; }

#dealer {
  top: 5vh;
  margin-left: -12vh; }

#player {
  top: 36vh;
  margin-left: -12vh; }

.card {
  height: 20vh;
  width: auto;
  display: inline-block;
  border: 0.2vh black solid;
  background-color: white;
  position: absolute;
  overflow: hidden;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
  border-radius: 8%; }

.card:nth-child(1) {
  margin-left: 0;
  margin-top: 0; }

.card:nth-child(2) {
  margin-top: 3%;
  margin-left: 8%; }

.card:nth-child(3) {
  margin-top: 6%;
  margin-left: 16%; }

.card:nth-child(4) {
  margin-top: 9%;
  margin-left: 24%; }

.card:nth-child(5) {
  margin-top: 12%;
  margin-left: 32%; }

.card:nth-child(6) {
  margin-top: 15%;
  margin-left: 40%; }

.card:nth-child(7) {
  margin-top: 18%;
  margin-left: 48%; }

.card:nth-child(8) {
  margin-top: 21%;
  margin-left: 56%; }

.card:nth-child(9) {
  margin-top: 24%;
  margin-left: 64%; }

.card:nth-child(10) {
  margin-top: 27%;
  margin-left: 72%; }

.card:nth-child(11) {
  margin-top: 30%;
  margin-left: 80%; }

.card:nth-child(12) {
  margin-top: 33%;
  margin-left: 88%; }

.card:nth-child(13) {
  margin-top: 36%;
  margin-left: 96%; }

.card:nth-child(14) {
  margin-top: 39%;
  margin-left: 104%; }

.card:nth-child(15) {
  margin-top: 42%;
  margin-left: 112%; }

.card:nth-child(16) {
  margin-top: 45%;
  margin-left: 120%; }

.card:nth-child(17) {
  margin-top: 48%;
  margin-left: 128%; }

.card:nth-child(18) {
  margin-top: 51%;
  margin-left: 136%; }

.card:nth-child(19) {
  margin-top: 54%;
  margin-left: 144%; }

.card:nth-child(20) {
  margin-top: 57%;
  margin-left: 152%; }

.card:nth-child(21) {
  margin-top: 60%;
  margin-left: 160%; }

.card:nth-child(22) {
  margin-top: 63%;
  margin-left: 168%; }

.card:nth-child(23) {
  margin-top: 66%;
  margin-left: 176%; }

.card:nth-child(24) {
  margin-top: 69%;
  margin-left: 184%; }

.card:nth-child(25) {
  margin-top: 72%;
  margin-left: 192%; }

.card:nth-child(26) {
  margin-top: 75%;
  margin-left: 200%; }

.card:nth-child(27) {
  margin-top: 78%;
  margin-left: 208%; }

.card:nth-child(28) {
  margin-top: 81%;
  margin-left: 216%; }

.card:nth-child(29) {
  margin-top: 84%;
  margin-left: 224%; }

.card:nth-child(30) {
  margin-top: 87%;
  margin-left: 232%; }

.card:nth-child(31) {
  margin-top: 90%;
  margin-left: 240%; }

.card:nth-child(32) {
  margin-top: 93%;
  margin-left: 248%; }

.card:nth-child(33) {
  margin-top: 96%;
  margin-left: 256%; }

.card:nth-child(34) {
  margin-top: 99%;
  margin-left: 264%; }

.card:nth-child(35) {
  margin-top: 102%;
  margin-left: 272%; }

.card:nth-child(36) {
  margin-top: 105%;
  margin-left: 280%; }

.card:nth-child(37) {
  margin-top: 108%;
  margin-left: 288%; }

.card:nth-child(38) {
  margin-top: 111%;
  margin-left: 296%; }

.card:nth-child(39) {
  margin-top: 114%;
  margin-left: 304%; }

.card:nth-child(40) {
  margin-top: 117%;
  margin-left: 312%; }

.card:nth-child(41) {
  margin-top: 120%;
  margin-left: 320%; }

.card:nth-child(42) {
  margin-top: 123%;
  margin-left: 328%; }

.card:nth-child(43) {
  margin-top: 126%;
  margin-left: 336%; }

.card:nth-child(44) {
  margin-top: 129%;
  margin-left: 344%; }

.card:nth-child(45) {
  margin-top: 132%;
  margin-left: 352%; }

.card:nth-child(46) {
  margin-top: 135%;
  margin-left: 360%; }

.card:nth-child(47) {
  margin-top: 138%;
  margin-left: 368%; }

.card:nth-child(48) {
  margin-top: 141%;
  margin-left: 376%; }

.card:nth-child(49) {
  margin-top: 144%;
  margin-left: 384%; }

.card:nth-child(50) {
  margin-top: 147%;
  margin-left: 392%; }

.card:nth-child(51) {
  margin-top: 150%;
  margin-left: 400%; }

.card:nth-child(52) {
  margin-top: 153%;
  margin-left: 408%; }

.card:nth-child(53) {
  margin-top: 156%;
  margin-left: 416%; }

.card:nth-child(54) {
  margin-top: 159%;
  margin-left: 424%; }

.card:nth-child(55) {
  margin-top: 162%;
  margin-left: 432%; }

.card:nth-child(56) {
  margin-top: 165%;
  margin-left: 440%; }

.card:nth-child(57) {
  margin-top: 168%;
  margin-left: 448%; }

.card:nth-child(58) {
  margin-top: 171%;
  margin-left: 456%; }

.card:nth-child(59) {
  margin-top: 174%;
  margin-left: 464%; }

.card:nth-child(60) {
  margin-top: 177%;
  margin-left: 472%; }

.card:nth-child(61) {
  margin-top: 180%;
  margin-left: 480%; }

.card:nth-child(62) {
  margin-top: 183%;
  margin-left: 488%; }

.card:nth-child(63) {
  margin-top: 186%;
  margin-left: 496%; }

.card:nth-child(64) {
  margin-top: 189%;
  margin-left: 504%; }

.card:nth-child(65) {
  margin-top: 192%;
  margin-left: 512%; }

.card:nth-child(66) {
  margin-top: 195%;
  margin-left: 520%; }

.card:nth-child(67) {
  margin-top: 198%;
  margin-left: 528%; }

.card:nth-child(68) {
  margin-top: 201%;
  margin-left: 536%; }

.card:nth-child(69) {
  margin-top: 204%;
  margin-left: 544%; }

.card:nth-child(70) {
  margin-top: 207%;
  margin-left: 552%; }

.card:nth-child(71) {
  margin-top: 210%;
  margin-left: 560%; }

.card:nth-child(72) {
  margin-top: 213%;
  margin-left: 568%; }

.card:nth-child(73) {
  margin-top: 216%;
  margin-left: 576%; }

.card:nth-child(74) {
  margin-top: 219%;
  margin-left: 584%; }

.card:nth-child(75) {
  margin-top: 222%;
  margin-left: 592%; }

.card:nth-child(76) {
  margin-top: 225%;
  margin-left: 600%; }

.card:nth-child(77) {
  margin-top: 228%;
  margin-left: 608%; }

.card:nth-child(78) {
  margin-top: 231%;
  margin-left: 616%; }

.card:nth-child(79) {
  margin-top: 234%;
  margin-left: 624%; }

.card:nth-child(80) {
  margin-top: 237%;
  margin-left: 632%; }

.card:nth-child(81) {
  margin-top: 240%;
  margin-left: 640%; }

.card:nth-child(82) {
  margin-top: 243%;
  margin-left: 648%; }

.card:nth-child(83) {
  margin-top: 246%;
  margin-left: 656%; }

.card:nth-child(84) {
  margin-top: 249%;
  margin-left: 664%; }

.card:nth-child(85) {
  margin-top: 252%;
  margin-left: 672%; }

.card:nth-child(86) {
  margin-top: 255%;
  margin-left: 680%; }

.card:nth-child(87) {
  margin-top: 258%;
  margin-left: 688%; }

.card:nth-child(88) {
  margin-top: 261%;
  margin-left: 696%; }

.card:nth-child(89) {
  margin-top: 264%;
  margin-left: 704%; }

.card:nth-child(90) {
  margin-top: 267%;
  margin-left: 712%; }

.card:nth-child(91) {
  margin-top: 270%;
  margin-left: 720%; }

.card:nth-child(92) {
  margin-top: 273%;
  margin-left: 728%; }

.card:nth-child(93) {
  margin-top: 276%;
  margin-left: 736%; }

.card:nth-child(94) {
  margin-top: 279%;
  margin-left: 744%; }

.card:nth-child(95) {
  margin-top: 282%;
  margin-left: 752%; }

.card:nth-child(96) {
  margin-top: 285%;
  margin-left: 760%; }

.card:nth-child(97) {
  margin-top: 288%;
  margin-left: 768%; }

.card:nth-child(98) {
  margin-top: 291%;
  margin-left: 776%; }

.card:nth-child(99) {
  margin-top: 294%;
  margin-left: 784%; }

.card:nth-child(100) {
  margin-top: 297%;
  margin-left: 792%; }

.card > img {
  height: 20vh;
  width: auto; }

.total {
  position: absolute;
  left: -12vh;
  color: white;
  font-size: 4vh; }

.total > span {
  color: #d4af37; }

#dealer > .total {
  top: 59vh;
  margin-left: -0.5vh; }

#player > .total {
  top: 33vh; }

#actions {
  position: absolute;
  top: 70vh;
  left: 50%;
  margin-left: -50vh;
  width: 100vh;
  height: 30vh; }

#actions > button {
  position: absolute;
  background: none;
  border: none;
  transition: 0.5s linear;
  cursor: pointer; }

#actions > button:disabled {
  opacity: .5;
  cursor: default; }

#actions > button > div {
  position: absolute;
  height: 12vh;
  width: 12vh;
  transition: 0.2s linear; }

#actions > button > div:hover {
  box-shadow: 0.5vh 1vh rgba(0, 0, 0, 0.4); }

#actions > button .inner_circle {
  padding-top: 2.65vh; }

#actions > button:nth-child(6) .inner_circle {
  padding-top: 3vh; }

#actions > button .inner_circle span {
  color: white;
  font-size: 2.4vh;
  font-weight: 600; }

#actions > button:nth-child(6) .inner_circle span {
  font-size: 1.5vh; }

#actions > span {
  position: absolute;
  font-size: 6vh;
  font-weight: 500;
  color: #d4af37;
  top: 14vh;
  right: 1vh;
  height: 0;
  text-shadow: 0.2vh 0.5vh rgba(0, 0, 0, 0.4);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

.blue_darker {
  background: #001b86;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 8vh;
  left: 0vh; }

.blue {
  background: #132f9a; }

.blue_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #132f9a 50%); }

.red_darker {
  background: #a70a0c;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 16vh;
  left: 17.6vh; }

.red {
  background: #c10c0e; }

.red_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #c10c0e 50%); }

.purple_darker {
  background: #5c1959;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 20.8vh;
  left: 35.2vh; }

.purple_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #762072 50%); }

.purple {
  background: #762072; }

.orange_darker {
  background: #e06535;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 20.8vh;
  left: 52.8vh; }

.orange_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #fa713a 50%); }

.orange {
  background: #fa713a; }

.brown_darker {
  background: #470004;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 16vh;
  left: 70.4vh; }

.brown_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, #610005 50%); }

.brown {
  background: #610005; }

.black_darker {
  background: black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  top: 8vh;
  left: 88vh; }

.black_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, black 50%); }

.black {
  background: black; }

#communications {
  display: none;
  position: absolute;
  width: 100vh;
  height: auto;
  font-size: 10vh;
  line-height: 7vh;
  color: white;
  text-align: center;
  top: 28vh;
  left: 50%;
  margin-left: -50vh; }

#communications span {
  background-color: #256339;
  border: 0.5vh #d4af37 solid;
  box-shadow: 1vh 1vh rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=style.css.map */
