@import 'rules';
@import 'chip';
@import 'table';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
}

body {
  background-color: $carpet;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#welcome {
  background-color: $table;
}

#title_background {
  height: 130vh;
  width: 130vh;
  // margin: 0 auto;
  @include vertical-align();
  overflow: hidden;
  box-shadow: 1vh 1vh $black-shadow;
  position: absolute;
  left: 50%;
  margin-left: -65vh;
}

.red_welcome {
  background: $chip_redder;
}

.light_grey {
  background-color: $light_grey;
}

.red_outline {
  border: $chip_redder solid .1%;
}

.red_outer {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_red 50%);
}

.red_inner {
  background: $chip_red;
}

.title {
  height: 100%;
  width: 100%;
  @include border-radius(50%);
  // overflow: hidden;
}

.title > h3 {
  font-size: 4vh;
  line-height: 4vh;
  font-weight: 500;
  margin-top: 8vh;
  margin-bottom: 4vh;
  // text-shadow: .25vh .2vw $dark_gold;
  color: $gold;
}

.title > h3 span {
  font-size: 4.5vh;
  font-weight: 600;
  color: $light_gold;
}

.title > h1 {
  font-size: 7vh;
  line-height: 8vh;
  font-weight: 700;
  margin-top: 8vh;
  text-shadow: .3vh .5vh $black_shadow;
}

.title > h1 > span:nth-child(1) {
  color: $light_grey;
}

.title > h1 > span:nth-child(2) {
  color: $light_gold;
}

.title > h1 > span:nth-child(4){
  font-size: 10vh;
  line-height: 10vh;
}

.title > h1 > span:nth-child(4) span:nth-child(odd) {
  color: $light_grey;
}

.title > h1 > span:nth-child(4) span:nth-child(even) {
  color: $light_gold;
}

.title > p {
  font-size: 3vh;
  line-height: 4vh;
  font-weight: 400;
  margin-top: 8vh;
  color: white;
}

.title > button {
  font-size: 5vh;
  font-weight: 600;
  line-height: 3vh;
  margin-top: 3vh;
  color: $dark_gold;
  background-color: $light-gold;
  height: 20vh;
  width: 20vh;
  @include border-radius(50%);
  border: 1vh solid $dark_gold;
  cursor: pointer;
  transition: .2s linear;
}

.title > button:hover {
  margin-top: 1.5vh;
  height: 23vh;
  width: 23vh;
  font-size: 23vh * 5vh / 20vh;
  box-shadow: .5vh 1vh $black_shadow;
}

#table {
  display: none;
  background-color: $carpet;
}

.wrapper {
  position: relative;
  width: 50vh;
  height: 50vh;
  margin: 0 auto;
}

#table_title > * {
  margin: 0 auto;
}

#table_title > h3:nth-child(1) {
  margin-top: -6vh;
}

#table_title > h3:nth-child(1) span {
  font-size: 3vh;
  line-height: 3vh;
}

#table_title > h1 span {
  font-size: 6vh;
  line-height: 0;
}

#table_title > h1 > span > span {
  font-size: 8vh;
  line-height: 0;
}

#table_title > h3:nth-child(3) > span {
  font-size: 2vh;
  color: white;
}

#table_title > h3:nth-child(4) {
  position: relative;
  transform: rotate(90deg); //rendere compatibile
  transform-origin: center top; //rendere compatibile
  margin: -20vh auto;
}

#table_title > h3:nth-child(4) > span > span {
  position: absolute;
  left: 50%;
  margin-left: -2.5vh;
  font-size: 4vh;
  transform-origin: center -4vh; //rendere compatibile
  width: 0.9vh;
  height: 45vh;
  line-height: (90vh - 10vh);
  text-align: center;
  top: 3.8vh;
}

@for $i from 0 through 32 {
  .char#{$i} {
    transform: rotate(($i*-5.6)+deg); //rendere compatibile
  }
}

.interface {
  top: 0;
  left: 0;
}

.cards {
  height: 30vh;
  width: 60vh;
  position: absolute;
  left: 50%;
  display: inline;
}

#dealer {
  top: 5vh;
  margin-left: -12vh;
}

#player {
  top: 36vh;
  margin-left: -12vh;
}

.card {
  height: 20vh;
  width: auto;;
  display: inline-block;
  border: .2vh $black solid;
  background-color: white;
  position: absolute;
  overflow: hidden;
  @include border-radius(8%);
}

.card:nth-child(1) {
  margin-left: 0;
  margin-top: 0;
}

@for $i from 2 through 100 {
  .card:nth-child(#{$i}) {
    margin-top: (3% * $i) - 3%;
    margin-left: (8% * $i) - 8%;
  }
}

.card > img {
  height: 20vh;
  width: auto;
}

.total {
  position: absolute;
  left: -12vh;
  color: white;
  font-size: 4vh;
}

.total > span {
  color: $light_gold;
}

#dealer > .total {
  top: 59vh;
  margin-left: -0.5vh;
}

#player > .total {
  top: 33vh;
}

#actions {
  position: absolute;
  top: 70vh;
  left: 50%;
  margin-left: -50vh;
  width: 100vh;
  height: 30vh;
}

#bet {
  position: absolute;
  width: 12vh;
  top: -8vh;
  left: 50%;
  margin-left: -6vh;
  text-align: center;
}

#bet > span:nth-child(1) {
  @include user-select(none);
  cursor: default;
  font-size: 2vh;
  line-height: 2vh;
  color: white;
}

#bet > span:nth-child(2) {
  font-size: 4.5vh;
  line-height: 8vh;
  color: $light_gold;
}

#bet input {
  width: 7vh;
  height: 7vh;
  // width: 17%;
  // height: 7%;
  @include border-radius(50%);
  font-size: 3.5vh;
  line-height: 3.5vh;
  color: $light_gold;
  background: $dark_gold;
  border: $light_gold solid .2vh;
  text-align: center;
}

#bet input:disabled {
  border: none;
  background: none;
}

#bet_errors {
  position: absolute;
  top: 10vh;
  width: 90vh;
  left: 50%;
  margin-left: -45vh;
  font-size: 5vh;
  line-height: 5vh;
  color: white;
  text-align: center;
}

.error {
  padding: 0 2vh 0 2vh;
  background-color: $table;
  box-shadow: 1vh 1vh $black-shadow;
  border: .4vh $light_gold solid;
}

#reserve {
  position: absolute;
  width: 50vh;
  top: 8.5vh;
  left: 50%;
  margin-left: -25vh;
  font-size: 4vh;
  line-height: 5vh;
  color: white;
  text-align: center;
}

#reserve span:nth-child(1) {
  color: $light_gold;
}

#reserve span:nth-child(3) {
  display: none;
  font-size: 3vh;
}

#actions > form > button {
  position: absolute;
  background: none;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}

#actions > form > button:hover {
  box-shadow: .5vh 1vh $black-shadow;
}

#deal, #clear, #hit, #stand, #double, #split, #surrender {
  top: 2vh;
  height: 12vh;
  width: 12vh;
  @include border-radius(50%);
}

#hit {
  top: 10vh;
  left: 17.6vh * 1;
}

#stand {
  top: 15vh;
  left: 17.6vh * 2;
}

#double {
  top: 15vh;
  left: 17.6vh * 3;
}

#split {
  top: 10vh;
  left: 17.6vh * 4;
}

#surrender {
  left: 17.6vh * 5;
}

#actions > form > button:disabled {
  opacity: .5;
  cursor: default;
}

#actions > form > button > div {
  position: absolute;
  height: 12vh;
  width: 12vh;
  transition: 0.2s linear;
}

// #actions > form > button > div:hover {
//   box-shadow: .5vh 1vh $black-shadow;
// }

#actions button .inner_circle {
  padding-top: 2.65vh;
}

#actions button:nth-child(6) .inner_circle {
  padding-top: 3vh;
}

#actions button .inner_circle span {
  color: white;
  font-size: 2.4vh;
  font-weight: 600;
}

#actions button:nth-child(6) .inner_circle span {
  font-size: 1.5vh;
}

#actions > form > span {
  position: absolute;
  font-size: 6vh;
  font-weight: 500;
  color: $light-gold;
  top: 14vh;
  right: 1vh;
  height: 0;
  text-shadow: .2vh .5vh $black-shadow;
  @include rotate(-20deg);
  @include user-select(none);
  cursor: default;
}

.blue_darker {
  background: $chip_bluer;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
  left: 17.6vh * 0;
}

.blue {
  background: $chip_blue;
}

.blue_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_blue 50%);
}

.red_darker {
  background: $chip_redder;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
}

.red {
  background: $chip_red;
}

.red_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_red 50%);
}

.purple_darker {
  background: $chip_purpler;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
}

.purple_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_purple 50%);
}

.purple {
  background: $chip_purple;
}

.orange_darker {
  background: $chip_oranger;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
}

.orange_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_orange 50%);
}

.orange {
  background: $chip_orange;
}

.brown_darker {
  background: $chip_browner;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
}

.brown_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_brown 50%);
}

.brown {
  background: $chip_brown;
}

.black_darker {
  background: $chip_black;
  @include vertical-align();
  overflow: hidden;
  top: 6vh;
}

.black_radiant {
  background: radial-gradient(circle, transparent 0%, transparent 50%, $chip_black 50%);
}

.black {
  background: $chip_black;
}

.comms {
  position: absolute;
  width: 104vh;
  height: auto;
  font-size: 10vh;
  line-height: 7vh;
  color: white;
  text-align: center;
  top: 28vh;
  left: 50%;
  margin-left: -52vh;
}

#communications {
  display: none;
}

#reshuffle {
  display: none;
}

.comms span {
  padding: 0 2vh 0 2vh;
  background-color: $table;
  border: .5vh $light_gold solid;
  box-shadow: 1vh 1vh $black-shadow;
}

#game_lost {
  display: none;
  position: absolute;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 50%;
  margin-left: -45vw;
  text-align: center;
  font-size: 7vh;
  line-height: 9vh;
  background-color: $table;
  border: 1vh solid $light_gold;
  color: white;
}

#game_lost div {
  @include vertical-align();
  padding: 2vh;
}
