@import 'rules';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  // overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
  // color: $dark;
  // background-color: $dark;
}

body {
  // font-family: 'Playfair Display', serif;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

welcome {
  color: red;
  position: absolute;
  top: 0;
  @include user-select(none);
  cursor: default;
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

#table {
  background-color: $table;
  width: 100vw;
  height: 100vh;
  // display: none;
  position: absolute;
  top: 0;
}

.cards {
  margin-left: 500px;
  margin-top: 100px;
}

.card {
  background-color: white;
  width: 130px;
  height: 180px;
  display: inline-block;
}
