@import 'rules';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  // overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
  // color: $dark;
  // background-color: $dark;
}

body {
  // font-family: 'Playfair Display', serif;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
