* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  overflow-x: hidden;
  overflow-y: hidden; }

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: block;
  background-color: RGB(80, 0, 0); }

body {
  position: relative; }

.clear {
  display: block; }

.clear::after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden; }

a {
  text-decoration: none;
  color: inherit; }

#wrapper {
  position: relative;
  width: 50vh;
  height: 50vh;
  margin: 0 auto; }

.table_dealer_area {
  position: absolute;
  top: 0;
  left: 50%;
  height: 12vh; }

#table_dealer_area_border {
  width: 220vh;
  background-color: #663300;
  margin-left: -110vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b; }

#table_dealer_area_inner {
  width: 182.6vh;
  background-color: #256339;
  margin-left: -91.3vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b; }

.table_shape {
  position: absolute; }

#table_border {
  left: 50%;
  margin-left: -110vh;
  height: 110vh;
  width: 220vh;
  -webkit-border-radius: 0 0 220vh 220vh;
  -moz-border-radius: 0 0 220vh 220vh;
  -ms-border-radius: 0 0 220vh 220vh;
  -o-border-radius: 0 0 220vh 220vh;
  border-radius: 0 0 220vh 220vh;
  background-color: #663300;
  top: 11vh;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b;
  border-bottom: 0.913vh solid #25150b; }

#table_inner {
  left: 50%;
  margin-left: -91.3vh;
  height: 91.3vh;
  width: 182.6vh;
  -webkit-border-radius: 0 0 182.6vh 182.6vh;
  -moz-border-radius: 0 0 182.6vh 182.6vh;
  -ms-border-radius: 0 0 182.6vh 182.6vh;
  -o-border-radius: 0 0 182.6vh 182.6vh;
  border-radius: 0 0 182.6vh 182.6vh;
  background-color: #256339;
  border-bottom: 0.913vh solid #25150b;
  border-left: 0.913vh solid #25150b;
  border-right: 0.913vh solid #25150b;
  top: 11vh; }

.glass_container {
  width: 45.65vh;
  height: 45.65vh;
  position: absolute;
  left: 50%;
  transform-origin: 100% 100%;
  margin-left: -45.65vh;
  top: -45.65vh; }

#glass_zero {
  -ms-transform: rotate(175.2deg) skew(54deg);
  -webkit-transform: rotate(175.2deg) skew(54deg);
  -moz-transform: rotate(175.2deg) skew(54deg);
  -o-transform: rotate(175.2deg) skew(54deg);
  transform: rotate(175.2deg) skew(54deg); }

#glass_one {
  -ms-transform: rotate(211.2deg) skew(54deg);
  -webkit-transform: rotate(211.2deg) skew(54deg);
  -moz-transform: rotate(211.2deg) skew(54deg);
  -o-transform: rotate(211.2deg) skew(54deg);
  transform: rotate(211.2deg) skew(54deg); }

#glass_two {
  -ms-transform: rotate(247.2deg) skew(54deg);
  -webkit-transform: rotate(247.2deg) skew(54deg);
  -moz-transform: rotate(247.2deg) skew(54deg);
  -o-transform: rotate(247.2deg) skew(54deg);
  transform: rotate(247.2deg) skew(54deg); }

#glass_three {
  -ms-transform: rotate(283.2deg) skew(54deg);
  -webkit-transform: rotate(283.2deg) skew(54deg);
  -moz-transform: rotate(283.2deg) skew(54deg);
  -o-transform: rotate(283.2deg) skew(54deg);
  transform: rotate(283.2deg) skew(54deg); }

#glass_four {
  -ms-transform: rotate(319.2deg) skew(54deg);
  -webkit-transform: rotate(319.2deg) skew(54deg);
  -moz-transform: rotate(319.2deg) skew(54deg);
  -o-transform: rotate(319.2deg) skew(54deg);
  transform: rotate(319.2deg) skew(54deg); }

.glass {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-transform: skew(-54deg);
  -webkit-transform: skew(-54deg);
  -moz-transform: skew(-54deg);
  -o-transform: skew(-54deg);
  transform: skew(-54deg);
  width: 13.2vh;
  height: 13.2vh;
  background-color: #25150b;
  border: 1.056vh solid #d4af37; }

.cards_area {
  position: absolute;
  border-bottom: 0.495vh solid white;
  border-left: 0.495vh solid white;
  border-right: 0.495vh solid white;
  top: 5.5vh; }

#cards_lower {
  left: 50%;
  margin-left: -49.5vh;
  height: 49.5vh;
  width: 99vh;
  -webkit-border-radius: 0 0 99vh 99vh;
  -moz-border-radius: 0 0 99vh 99vh;
  -ms-border-radius: 0 0 99vh 99vh;
  -o-border-radius: 0 0 99vh 99vh;
  border-radius: 0 0 99vh 99vh; }

#cards_upper {
  left: 50%;
  margin-left: -39.6vh;
  height: 39.6vh;
  width: 79.2vh;
  -webkit-border-radius: 0 0 79.2vh 79.2vh;
  -moz-border-radius: 0 0 79.2vh 79.2vh;
  -ms-border-radius: 0 0 79.2vh 79.2vh;
  -o-border-radius: 0 0 79.2vh 79.2vh;
  border-radius: 0 0 79.2vh 79.2vh; }

.cards_area_close {
  position: absolute;
  top: 0.44vh;
  height: 5.5vh;
  width: 9.9vh;
  border-bottom: 0.495vh solid white; }

#cards_left {
  left: 50%;
  margin-left: -49.5vh; }

#cards_right {
  right: 50%;
  margin-right: -49.5vh; }

#bet_zero {
  -ms-transform: rotate(-69deg);
  -webkit-transform: rotate(-69deg);
  -moz-transform: rotate(-69deg);
  -o-transform: rotate(-69deg);
  transform: rotate(-69deg);
  right: 50%;
  margin-right: -65.296vh;
  margin-top: 13.904vh; }

#bet_one {
  -ms-transform: rotate(-34.3deg);
  -webkit-transform: rotate(-34.3deg);
  -moz-transform: rotate(-34.3deg);
  -o-transform: rotate(-34.3deg);
  transform: rotate(-34.3deg);
  right: 50%;
  margin-right: -41.8528vh;
  margin-top: 43.56vh; }

#bet_two {
  left: 50%;
  margin-left: -6.16vh;
  margin-top: 54.45vh; }

#bet_three {
  -ms-transform: rotate(34.3deg);
  -webkit-transform: rotate(34.3deg);
  -moz-transform: rotate(34.3deg);
  -o-transform: rotate(34.3deg);
  transform: rotate(34.3deg);
  left: 50%;
  margin-left: -41.8528vh;
  margin-top: 43.472vh; }

#bet_four {
  -ms-transform: rotate(69.2deg);
  -webkit-transform: rotate(69.2deg);
  -moz-transform: rotate(69.2deg);
  -o-transform: rotate(69.2deg);
  transform: rotate(69.2deg);
  left: 50%;
  margin-left: -65.296vh;
  margin-top: 13.728vh; }

.bet {
  position: absolute;
  top: 5.5vh;
  width: 12.32vh;
  height: 17.6vh;
  border: .5vh solid white;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%; }

/*# sourceMappingURL=style.css.map */
